<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hadi Nasir - Success</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />

</head>
<body>
    <header>
        <div class="logo-center">
            <a href="/index">
              <img src="/images/logo.png" alt="Hadi Nasir Logo" />
            </a>
          </div>
       
    </header>
    
        <!-- Contact Hero Section -->
        <h1>Success 🎉</h1>

        <main>
            <h2>Thank you <%= name %>!</h2>
            <p>Your message has been received. I’ll get back to you within 24 hours.</p>
            <a href="/">Return Home</a>
          </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Hadi Nasir | Developer | All rights reserved.</p>
            <div class="social-links">
                <a href= "https://github.com/HA11723" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/hadi-nasir-09362318b/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/hadi.nasir.2/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>


        <script src="/script.js"></script>

</body>
</html>
